<h3>Book Meeting Room</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Id</label>
      <input type="text" class="form-control" id="employeeId" required [(ngModel)]="employeeId" name="employeeId">
    </div>

    <div class="form-group">
      <label for="">Start Time</label>
      <input type="datetime-local" class="form-control" id="date" required [(ngModel)]="startTime" name="startTime" >
    </div>

    <div class="form-group">
        <label for="name">End Time</label>
        <input type="datetime-local"  class="form-control" id="endTime" required [(ngModel)]="endTime" name="endTime">
    </div>

    <div class="form-group">
        <label for="name">Department</label>
        <input type="text"  class="form-control" id="department" required [(ngModel)]="department" name="department">
      </div>
     
    <div class="form-group">
        <label for="name">Purpose Of Booking</label>
        <input type="text"  class="form-control" id="purposeOfBooking" required [(ngModel)]="purposeOfBooking" name="purposeOfBooking">
    </div>

  <div class="form-group">
    <label for="name">Select Meeting Room</label>
    <select [(ngModel)]="selectedOption" name="selectedOption">
      <option *ngFor="let option of options" [ngValue]="option">{{ option.roomType }}</option>
    </select>
  </div>
 
  


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newRoom()">Add</button> -->
</div>
